coverage==5.0.3
coveralls==1.10.0
Django==3.0.3
django-cors-headers==3.2.1
django-haystack==2.8.1
django-nose==1.4.6
docutils==0.15.2
mysqlclient==1.4.6
nltk==3.4.5
pysolr==3.8.1
pyvi==0.0.9.7
Scrapy==1.8.2